<body>
    <div class="container">
        <h1>Please answer the following questions so that we can find the best matched cat for you in the area!!</h1>
        <hr>
        <h3><strong>Question 1</strong></h3>
        <form>
            Zip Code (Required)<br>
            <input type="text" name="name" class="name" id="q1">
        </form>
        <h3><strong>Question 2</strong></h3>
        <h4>How far out would you like us to search from your zip code?</h4>
        <select id="q2">
            <option value>Select an option</option>
            <option value="1">25 miles</option>
            <option value="2">50 miles</option>
            <option value="3">75 miles</option>
            <option value="4">100 miles</option>
        </select>
        <h3><strong>Question 3</strong></h3>
        <h4>Do you want a boy or a girl?</h4>
        <select id="q3">
            <option value>Select an option</option>
            <option value="1">Boy</option>
            <option value="2">Girl</option>
            <option value="3">Either</option>
        </select>
        <h3><strong>Question 4</strong></h3>
        <h4>What age range are you looking for?</h4>
        <select id="q4">
            <option value>Select an option</option>
            <option value="1">0 - 5</option>
            <option value="2">5 - 10</option>
            <option value="3">10+</option>
        </select>
        <h3><strong>Question 5</strong></h3>
        <h4>How active of a cat do you want?</h4>
        <select id="q5">
            <option value>Select an option</option>
            <option value="1">Calm/Reserved</option>
            <option value="2">Average Acitivy</option>
            <option value="3">Likes to play!</option>
        </select>
        <h3><strong>Question 6</strong></h3>
        <h4>Do you have children?</h4>
        <select id="q6">
            <option value>Select an option</option>
            <option value="1">No children</option>
            <option value="2">1 child</option>
            <option value="3">Multiple children</option>
        </select>
        <h3><strong>Question 7</strong></h3>
        <h4>What is the age of the youngest child?</h4>
        <select id="q7">
            <option value>Select an option</option>
            <option value="1">0 - 5 years old</option>
            <option value="2">5 - 10 years old</option>
            <option value="3">10 + years old</option>
        </select>
        <h3><strong>Question 8</strong></h3>
        <h4>Do you have dogs?</h4>
        <select id="q8">
            <option value>Select an option</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
        </select>
        <h3><strong>Question 9</strong></h3>
        <h4>Do you have other cats?</h4>
        <select id="q9">
            <option value>Select an option</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
        </select>
        <h3><strong>Question 10</strong></h3>
        <h4>What size cat are you looking for?</h4>
        <select id="q10">
            <option value>Select an option</option>
            <option value="1">Small</option>
            <option value="2">Large</option>
            <option value="3">No preference</option>
        </select>
        <h3><strong>Question 11</strong></h3>
        <h4>What kind of coat</h4>
        <select id="q11">
            <option value>Select an option</option>
            <option value="1">Short</option>
            <option value="2">Curly</option>
            <option value="3">Wire</option>
            <option value="4">Hairless</option>
            <option value="5">No preference</option>
        </select>
        <br>
        <br>
        <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit">
            <i class="fa fa-check-circle"></i>Submit
        </button>
        <footer class="footer">
            <div class="container">
                <p><a href="/">Pet Connection Home Page</a></p>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>
        $("#submit").on("click", function (event) {
            event.preventDefault();

            // console.log("listen")

            var userAnswer = {
                name: $(".name").val().trim(),
                photo: $(".photo").val().trim(),
                scores: [
                    $("#q1").val(),
                    $("#q2").val(),
                    $("#q3").val(),
                    $("#q4").val(),
                    $("#q5").val(),
                    $("#q6").val(),
                    $("#q7").val(),
                    $("#q8").val(),
                    $("#q9").val(),
                    $("#q10").val(),
                ]
            }
        })

    </script>
</body>