<body id="homebackground">
  <section></section>
  <div id="home">
    <div class="container" id="homeContainer">
      <div class="row">
        <div class="col-8 offset-2">
          <h1>Pet Connector</h1>
          <h2>We have a new companion waiting for you!</h2>
          <hr>
          <p>Welcome to the Pet Connector, where we will ask a series of questions so that we can match you up with some
            of the most compatible pets in the area that need a home.
            Please first let us know if you are looking for a dog or a cat. After making a selection you will be asked a
            list of questions that will help us determine the best
            options available in the area.
          </p>
          <hr>

          <form>
            <h3>Please enter your contact information:</h3><br>
            Name<br>
            <input type="text" name="name" class="name" id="c1">
          </form>

          <form>
            Email<br>
            <input type="text" name="name" class="name" id="c2">
          </form>

          <form>
            Phone number<br>
            <input type="text" name="name" class="name" id="c3">
          </form>
          <br>
          <br>
          <br>
          <h3>Are you looking for a dog or a cat?</h3>
          <br>
          <br>
          
          <a href="/dog" role="button" id="dogbutton">
          <svg><rect></rect></svg>Dog</a>
        
          <a href="/cat" role="button" id="catbutton">
          <svg><rect></rect></svg>Cat</a>

          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</body>